{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>It works!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<style type="text/css">
  .circle {
    text-align: center;
  }
</style>
  <div class="circle">
    <a href="http://circlebishe.oss-cn-beijing.aliyuncs.com/app-debug-unaligned.apk" class="btn btn-lg btn-outline">点我下载</a>
  </div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
